button(
    use:forwardAction
    type="button"
    bind:this="{forwardRef}"
    class:pointers-none="{pointerNone}"
    class!="{['btn-icon', withBorderClass, className, typeClass].join(' ')}"
    disabled="{disabled}"
    on:click="{onClick}"
)
    Icon(icon="{icon}" width="{18}" height="{18}" colorInherit)