button(
    type="button"
    bind:this="{ref}"
    class:pointers-none="{pointerNone}"
    class!="{['btn-icon', withBorderClass, className].join(' ')}"
    disabled="{disabled}"
    on:click="{onClick}"
)
    Icon(icon="{icon}" width="{18}" height="{18}" colorInherit)