.flex
    display: flex

    &-reverse
        flex-direction: row-reverse

    &-middle
        align-items: center

    &-bottom
        align-items: flex-end

    &-center
        justify-content: center

    &-justify
        justify-content: space-between

    &-start
        justify-content: flex-start

    &-end
        justify-content: flex-end

    &-column
        flex-direction: column

    &-row
        flex-direction: row

.text-center
    text-align: center

.text-right
    text-align: right
