.text-error
    @include var(color, 'alert', 1, !important)

.text-warning
    @include var(color, 'warning', 1, !important)

.text-success
    @include var(color, 'success', 1, !important)

.text-primary
    @include var(color, 'primary-accent', 1, !important)

.text-main
    @include var(color, 'l1', 1, !important)

.underline-not
    text-decoration: none

.popup
    position: relative
    display: block
    border-radius: 12px
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .1)
    @include property(border, 1px, solid, 'l4')
    @include var(background-color, 'l1')