+if("item.href")
    a.breadcrumb-item.breadcrumb-item--active(href="{item.href}") {item.name}
    +else()
        .breadcrumb-item(
            class:breadcrumb-item--active="{isActive}"
            class:with-max-width="{withMaxWidth}") {item.name}