@import "../common-styles/utils"

.tab-item
    font-weight: 700
    @include var(color, 'f4')
    padding-bottom: 2px
    text-decoration: none
    
    &--active
        border-bottom: 2px solid
        @include var(border-color, 'primary-accent')
        @include var(color, 'f1')
    
    &:not(:last-child)
        margin-right: 16px