@import "../common-styles/utils"

.tabs
    position: relative
    margin-bottom: toRem(32px)
    overflow-x: auto
    scrollbar-width: none
    -ms-overflow-style: none
    -webkit-overflow-scrolling: touch

    &::-webkit-scrollbar
        display: none

    &-wrapper
        position: relative
        display: flex
        flex-direction: row
