@import "../common-styles/utils"

.icon
    position: relative
    display: block
    margin: 0 auto toRem(24px)
    width: 72px
    height: 72px
    border-radius: 50%
    @include property(border, 1px, solid, 'l4')
    @include var(background-color, 'l1')

    :global(.circle-wrapper)
        position: absolute
        left: 0
        top: 0

img
    position: absolute
    content: ''
    width: 40px
    height: 40px
    left: 14px
    top: 14px
    object-fit: contain
    object-position: center center

.popup-inner
    text-align: center
    padding: 23px 27px

    :global(.title)
        margin-bottom: toRem(8px)

.description
    position: relative
    margin: 0 auto toRem(24px)
    @include var(color, 'f2')
    @include footnote-font()

.btns
    position: relative
    display: flex
    justify-content: center

.btns :global(.btn)
    margin: toRem(5px)
