mixin content
    +if('level === 1')
        h1(class="heading {hoverableClass} {displyClass} {asLink ? '' : className}")
            slot
        +elseif('level === 2')
            h2(class="heading {hoverableClass} {asLink ? '' : className}")
                slot
        +elseif('level === 3')
            h3(class="heading {hoverableClass} {asLink ? '' : className}")
                slot
        +elseif('level === 4')
            h4(class="heading {hoverableClass} {asLink ? '' : className}")
                slot
        +elseif('level === 5')
            h5(class="heading {hoverableClass} {asLink ? '' : className}")
                slot
        +elseif('level === 6')
            h6(class="heading {hoverableClass} {asLink ? '' : className}")
                slot

+if('asLink')
    a(href="{href}" class="{className} {asLink ? '' : className}")
        +content
    +else 
        +content