mixin content
    +if('level === 1')
        h1(use:forwardAction bind:this="{forwardRef}" class="heading {hoverableClass} {displayClass} {asLink ? '' : className}")
            slot
        +elseif('level === 2')
            h2(use:forwardAction bind:this="{forwardRef}" class="heading {hoverableClass} {asLink ? '' : className}")
                slot
        +elseif('level === 3')
            h3(use:forwardAction bind:this="{forwardRef}" class="heading {hoverableClass} {asLink ? '' : className}")
                slot
        +elseif('level === 4')
            h4(use:forwardAction bind:this="{forwardRef}" class="heading {hoverableClass} {asLink ? '' : className}")
                slot
        +elseif('level === 5')
            h5(use:forwardAction bind:this="{forwardRef}" class="heading {hoverableClass} {asLink ? '' : className}")
                slot
        +elseif('level === 6')
            h6(use:forwardAction bind:this="{forwardRef}" class="heading {hoverableClass} {asLink ? '' : className}")
                slot

+if('asLink')
    a(href="{href}" class="{className} {asLink ? '' : className}")
        +content
    +else 
        +content